{% extends "base.html" %}
{% block extratitle %}Grupos &eacute;tnico, indigena y j&oacute;venes{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Grupos &eacute;tnico, indigena y j&oacute;venes
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones efectuadas y efectivas</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Acciones de grupo etnia e ind&iacute;genas</th>
                    <th>Lograron cambios</th>
                    <th>Efectividad</th>
                    <th>Acciones de l@s j&oacute;venes</th>
                    <th>Lograron cambios</th>
                    <th>Efectividad</th>
                </tr>
            </thead>
            {%for key, value in tabla.items %}
            <tr>
                <td>{{key}}</td>
                <td>
                    {% if value.acciones_emprendidas_etnia %}
                    {{value.acciones_emprendidas_etnia|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>
                    {% if value.acciones_cambios_etnia %}
                    {{value.acciones_cambios_etnia|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>{{value.prom1|floatformat}}</td>
                <td>
                    {% if value.acciones_impulsadas_jovenes %}
                    {{value.acciones_impulsadas_jovenes|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>
                    {% if value.acciones_cambios_jovenes %}
                    {{value.acciones_cambios_jovenes|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>{{value.prom2|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}