{% extends "base.html" %}
{% block extratitle %}Observatorios para vigilancia{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Observatorios para vigilancia
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Observatorios funcionando</caption>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th># de Observatorios</th>
                    <th>Acciones realizadas</th>
                    <th>Acciones divulgadas</th>
                    <th> % </th>
                </tr>
            </thead>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.observatorio %}{{value.observatorio|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.acciones_realizadas %}{{value.acciones_realizadas|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.acciones_web %}{{value.acciones_web|floatformat}}{% else %}0{% endif %}</td>
                <td>{{value.prom|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
