{% extends "base.html" %}
{% block extratitle %}Avance de indicadores{% endblock %}
{% block extrahead %}
<link type="text/css" rel="stylesheet"  href="/files/css/django-admin-widgets.css">
<script type="text/javascript" src="/files/js/django-admin.multiselect.js"></script>
<script type="text/javascript" src="/files/js/jsi18n.js"></script>
<link type="text/css" rel="stylesheet"  href="/files/css/aux.css">
<script type="text/javascript">
    $(document).ready(function(){
        verificar();
        $("#id_tipo").change(function() {
            verificar();
            var str = '';
            var lista = $('#id_tipo').val();
            if(lista!=null){
                for(var i=0;i<lista.length;i++){
                    if(i==lista.length-1){
                        str += lista[i];
                    }else{
                        str += lista[i]+',';
                    }
                }
                $.getJSON('/ajax/orgs/?ids='+str, function(data){
                    $('#id_organizacion').html('');
                    if(data){                                                
                        $.each(data, function(i, item){
                            $('#id_organizacion').append($('<option></option>').val(item.id).html(item.nombre_corto));
                        });
                    }
                });
            }else{
                verificar();
            }
        });
        
        $('#select_organizacion').click(function(){
            $('#id_organizacion option').each(function(){
                $(this).attr('selected', 'selected');
            });
            return false;
        });
        $('.tiene a').click(function(){
            var este = this;
            $('.results').animate({width: 'toggle'},
            function(){
                var id = $(este).attr('id');
                $('.'+id).slideDown()
            });
            return false;
        });
        $('.volver').click(function(){
            var este = this;
            $(este).parent().slideUp('fast', function() {
                $('.results').animate({width: 'toggle'});
            });
        });
        jQuery.each($("#id_municipio"), function () {
            // "Locations" can be any label you want
            SelectFilter.init(this.id, "", 0, "/media/");
        });
    });
    function verificar(){
        var lista = $('#id_tipo').val();
        if(lista==null){
            //$('#id_organizacion').attr('disabled', 'disabled');//each(function(){
            $('#id_organizacion').html('');
            //$(this).attr('disabled', 'disabled');
            //alert('tumadre');
            //});
        }
    }
</script>
<style type="text/css">
    #id_organizacion{
        height: 140px;
    }
</style>
{% endblock %}
{% block contenido %}
<div class="bar estilo2">
    <div class="title">
        Formulario
    </div>
    <form action="." method="POST">{% csrf_token %}
        <label class="aux">{{form.tipo.label}}</label><br>
        {{form.tipo}}
        <br>
        <br>
        <label class="aux">{{form.organizacion.label}}</label><br>
        {{form.organizacion}}<br>
        <a href="#" class="selector-chooseall" id="select_organizacion">Selecciona todos</a>
        <!--<br>
        <div class="clean">
            <label class="aux">{{form.municipio.label}}</label><br>
            {{form.municipio}}
        </div>-->
        <br><br>
        <div class="clean">
            <label class="aux">{{form.periodo.label}}</label><br>
            {{form.periodo}}<br><br>
            <label class="aux">{{form.anio.label}}</label><br>
            {{form.anio}}<br><br>
        </div>
        <button type="submit">Consultar</button>
        <br>
        <br>
    </form>    
</div>
{% if bandera == 1 %}
<div class="resultados">    
    <div class="results">
        Resultados<br><br>
        {% for r in resultados %}
        {% if r.pk in datos %}
        <div class="tiene"><a id="ind{{r.pk}}" href="{{r.pk}}/">{{r.nombre}}</a></div>
        {% else %}
        <div class="notiene">{{r.nombre}}</div>
        {% endif %}
        {% endfor %}
        <div class="tiene"><a id="ind6" href="6/">Capacidad técnica de las OSC</a></div>
    </div>
    {% for r in resultados %}
    {% if r.pk in datos %}
    <div class="ind{{r.pk}} indicators">
        <button class="volver">Volver a Resultados</button><br><br>Resultado: {{r.nombre}}<br><br>
        Indicadores<br><br>
        {% for ind in r.indicador_set.all %}
        <div class="indicador"><a href="{{ind.slug}}/">{{ind.nombre}}</a></div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="ind6 indicators">
        <button class="volver">Volver a Resultados</button><br><br>Resultado: Capacidad técnica de las OSC<br><br>
        Indicadores<br><br>
        {% for meta in metas %}
        <div class="indicador"><a href="meta/{{meta.slug}}/">{{meta.nombre}}</a></div>
        {% endfor %}                
    </div>
</div>
{% endif %}
<div class="clean"></div>
{% endblock %}
