{% extends "base.html" %}
{% block extratitle %}Victimas atendidas{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Victimas atendidas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Mujeres, j&oacute;venes, ni&ntilde;os y ni&ntilde;as atendidos en albergues</caption>
            <thead>
                <tr>
                    <th>Accion</th>
                    <th>Mujeres</th>
                    <th>J&oacute;venes</th>
                    <th>Ni&ntilde;os y Ni&ntilde;as</th>
                </tr>
            </thead>
            {%for key, value in tabla.items %}
            <tr>
                <td>{{key}}</td>
                <td>
                    {% if value.mujeres %}
                    {{value.mujeres|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>
                    {% if value.jovenes %}
                    {{value.jovenes|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>
                    {% if value.ninos_ninas %}
                    {{value.ninos_ninas|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
            </tr>
            {%endfor%}
            {%for key, value in tabla2.items %}
            <tr>
                <td>{{key}}</td>
                <td>
                    {% if value.mujeres %}
                    {{value.mujeres|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>
                    {% if value.jovenes %}
                    {{value.jovenes|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
                <td>
                    {% if value.ninos_ninas %}
                    {{value.ninos_ninas|floatformat}}
                    {% else %}
                    0{% endif %}
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
