{% extends "base.html" %}
{% block extratitle %}Acciones Impulsadas{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Acciones impulsadas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones efectuadas para fomentar pol&iacute;ticas p&uacute;blicas para posicionar el tema de equidad e igualdad</caption>
            <thead>
                <tr>
                    <th>Tipo de acciones</th>
                    <th>Prevención de violencia</th>
                    <th>Participantes</th>
                    <th>Salud Sexual y Reproductiva</th>
                    <th>Participantes</th>
                    <th>VIH-SIDA</th>
                    <th>Participantes</th>
                    <th>Masculinidad</th>
                    <th>Participantes</th>
                    <th>Diversidad Sexual</th>
                    <th>Participantes</th>
                    <th>Equidad de G&eacute;nero</th>
                    <th>Participantes</th>
                </tr>
            </thead>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.cantidad %}{{value.cantidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.viol_part %}{{value.viol_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr %}{{value.ssr|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr_part %}{{value.ssr_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_sida %}{{value.vih_sida|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_part %}{{value.vih_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masculinidad %}{{value.masculinidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masc_part %}{{value.masc_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual_part %}{{value.div_sexual_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.equidad %}{{value.equidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.participantes %}{{value.participantes|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <br>
    <div class="table_container">
        <table class="mostrar">
            <caption>Ambiente de las acciones impulsadas</caption>
            <thead>
                <tr>
                    <th>Ambiente</th>
                    <th>Prevención de violencia</th>
                    <th>Participantes</th>
                    <th>Salud Sexual y Reproductiva</th>
                    <th>Participantes</th>
                    <th>VIH-SIDA</th>
                    <th>Participantes</th>
                    <th>Masculinidad</th>
                    <th>Participantes</th>
                    <th>Diversidad Sexual</th>
                    <th>Participantes</th>
                    <th>Equidad de G&eacute;nero</th>
                    <th>Participantes</th>
                </tr>
            </thead>
            {%for key, value in tabla2.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.cantidad %}{{value.cantidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.viol_part %}{{value.viol_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr %}{{value.ssr|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr_part %}{{value.ssr_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_sida %}{{value.vih_sida|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_part %}{{value.vih_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masculinidad %}{{value.masculinidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masc_part %}{{value.masc_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual_part %}{{value.div_sexual_part|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.equidad %}{{value.equidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.participantes %}{{value.participantes|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <br>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones promovidas, aprobadas e implementadas para posicionar los diferentes temas</caption>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Prevención de violencia</th>
                    <th>Aprobadas</th>
                    <th>Salud Sexual y Reproductiva</th>
                    <th>Aprobadas</th>
                    <th>VIH-SIDA</th>
                    <th>Aprobadas</th>
                    <th>Masculinidad</th>
                    <th>Aprobadas</th>
                    <th>Diversidad Sexual</th>
                    <th>Aprobadas</th>
                    <th>Equidad de G&eacute;nero</th>
                    <th>Aprobadas</th>
                </tr>
            </thead>
            {%for key, value in tabla3.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.cantidad %}{{value.cantidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.viol_aprob %}{{value.viol_aprob|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr %}{{value.ssr|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr_aprob %}{{value.ssr_aprob|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_sida %}{{value.vih_sida|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_aprob %}{{value.vih_aprob|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masculinidad %}{{value.masculinidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masc_aprob %}{{value.masc_aprob|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_aprob %}{{value.div_aprob|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.equidad %}{{value.equidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.participantes %}{{value.participantes|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
