{% extends "base.html" %}
{% block extratitle %}Defensa de los derechos{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Defensa de los DDSSRR
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Participaci&oacute;n y efectividad</caption>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th># de Instancias</th>
                    <th>Acciones promovidas</th>
                    <th>Acciones efectivas</th>
                    <th> % </th>
                </tr>
            </thead>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.instancias %}{{value.instancias|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.acciones_promovidas %}{{value.acciones_promovidas|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.acciones_efectivas %}{{value.acciones_efectivas|floatformat}}{% else %}0{% endif %}</td>
                <td>{{value.prom|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
