{% extends "base.html" %}
{% block extratitle %}Mujeres, discapacitados, div. sexual, etnia e indigenas{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Acciones efectuadas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones realizadas para que la poblaci&oacute;n reflexione</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Con Hombres</th>
                    <th>Con Mujeres</th>
                    <th>Con l@s j&oacute;venes</th>
                    <th>Con div. sexual</th>
                    <th>Con VIH</th>
                    <th>Con etnia</th>
                    <th>Con discap.</th>
                </tr>
            </thead>
            {%for key, value in tabla.items %}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.hombres %}{{value.hombres|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.mujeres %}{{value.mujeres|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.jovenes %}{{value.jovenes|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih %}{{value.vih|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.etnica %}{{value.etnica|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.discapacidad %}{{value.discapacidad|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}