{% extends "base.html" %}
{% block extratitle %}Discriminaci&oacute;n por discapacidad, etnia, VIH y SIDA{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Denuncias Jur&iacute;dicas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones realizadas y atendidas contra:</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Discriminaci&oacute;n diversidad sexual</th>
                    <th>Discriminaci&oacute;n a discapacitados</th>
                    <th>Discriminaci&oacute;n a personas con VIH</th>
                    <th>Discriminaci&oacute;n por Etnia</th>
                    <th>Discriminaci&oacute;n a J&oacute;venes</th>
                </tr>
            </thead>
            {%for key, value in tabla.items reversed %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.sexual|floatformat}}</td>
                <td>{{value.discapacidad|floatformat}}</td>
                <td>{{value.vih|floatformat}}</td>
                <td>{{value.racial|floatformat}}</td>
                <td>{{value.joven|floatformat}}</td>
            </tr>
            {%endfor%}
            {%for key, value in tabla2.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.sexual|floatformat}}</td>
                <td>{{value.discapacidad|floatformat}}</td>
                <td>{{value.vih|floatformat}}</td>
                <td>{{value.racial|floatformat}}</td>
                <td>{{value.joven|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}