{% extends "base.html" %}
{% block extratitle %}Acciones Impulsadas{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Acciones Impulsadas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Tipo de acciones</caption>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Numero de acciones</th>
                    <th>Participantes</th>
                </tr>
            </thead>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.cantidad %}{{value.cantidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.participantes %}{{value.participantes|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <br>
    <div class="table_container">
        <table class="mostrar">
            <caption>Ambiente de acciones</caption>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Numero de acciones</th>
                    <th>Participantes</th>
                </tr>
            </thead>
            {%for key, value in tabla2.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.cantidad %}{{value.cantidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.participantes %}{{value.participantes|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <br>
    <div class="table_container">
        <table class="mostrar">
            <caption>Efectividad de acciones</caption>
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Iniciativas promovidas</th>
                    <th>Iniciativas aprobadas</th>
                    <th> % </th>
                </tr>
            </thead>
            {%for key, value in tabla3.items%}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.cantidad %}{{value.cantidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.participantes %}{{value.participantes|floatformat}}{% else %}0{% endif %}</td>
                <td>{{value.prom|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}
