{% extends "base.html" %}
{% block extratitle %}Mujeres, discapacitados, div. sexual, etnia e indigenas{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Acciones efectuadas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones realizadas para que la poblaci&oacute;n reflexione</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Con Hombres</th>
                    <th>Con Mujeres</th>
                    <th>Con l@s j&oacute;venes</th>
                    <th>Con div. sexual</th>
                    <th>Con VIH</th>
                    <th>Con etnia</th>
                    <th>Con discap.</th>
                    <th>Global</th>
                </tr>
            </thead>
            {%for key, value in tabla.items %}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.hombres %}{{value.hombres|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.mujeres %}{{value.mujeres|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.jovenes %}{{value.jovenes|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih %}{{value.vih|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.etnica %}{{value.etnica|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.discapacidad %}{{value.discapacidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.global %}{{value.global|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
        <table class="mostrar">
            <caption>Involucramiento de las poblaciones meta por temas</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Prev. violencia</th>
                    <th>Salud sexual y repro.</th>
                    <th>VIH-SIDA</th>
                    <th>Masculinidad</th>
                    <th>Div. sexual</th>
                    <th>Equidad de g&eacute;nero</th>
                    <th>Global</th>
                </tr>
            </thead>
            {%for key, value in tabla3.items %}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.prev_vio %}{{value.prev_vio|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.ssr %}{{value.ssr|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih_sida %}{{value.vih_sida|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.masculinidad %}{{value.masculinidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.equidad %}{{value.equidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.global %}{{value.global|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
        <table class="mostrar">
            <caption>Atenci&oacute;n a la salud sexual y reproductiva</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Con Hombres</th>
                    <th>Con Mujeres</th>
                    <th>Con l@s j&oacute;venes</th>
                    <th>Con div. sexual</th>
                    <th>Con VIH</th>
                    <th>Con etnia</th>
                    <th>Con discap.</th>
                    <th>Global</th>
                </tr>
            </thead>
            {%for key, value in tabla2.items %}
            <tr>
                <td>{{key}}</td>
                <td>{% if value.hombres %}{{value.hombres|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.mujeres %}{{value.mujeres|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.jovenes %}{{value.jovenes|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.div_sexual %}{{value.div_sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.vih %}{{value.vih|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.etnica %}{{value.etnica|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.discapacidad %}{{value.discapacidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.global %}{{value.global|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}