{% extends "base.html" %}
{% block extratitle %}Mujeres, discapacitados, div. sexual, etnia e indigenas{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        Mujeres, discapacitados, div. sexual, etnia e indigenas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Acciones realizadas para que la poblaci&oacute;n reflexione</caption>
            <thead>
                <tr>
                    <th>Acciones realizadas para reflexi&oacute;n</th>
                    <th>Con Hombres</th>
                    <th>Con Mujeres</th>
                    <th>Con l@s j&oacute;venes</th>
                    <th>Con div. sexual</th>
                    <th>Con VIH</th>
                    <th>Con etnia</th>
                    <th>Con discap.</th>
                </tr>
            </thead>
            {%for key, value in tabla.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.hombres|floatformat}}</td>
                <td>{{value.mujeres|floatformat}}</td>
                <td>{{value.jovenes|floatformat}}</td>
                <td>{{value.div_sexual|floatformat}}</td>
                <td>{{value.vih|floatformat}}</td>
                <td>{{value.etnica|floatformat}}</td>
                <td>{{value.discapacidad|floatformat}}</td>
            </tr>
            {%endfor%}
            <thead>
                <tr>
                    <th></th>
                    <th>Los hombres</th>
                    <th>Las Mujeres</th>
                    <th>L@s j&oacute;venes</th>
                    <th>div. sexual</th>
                    <th>Personas VIH</th>
                    <th>Personas etnia</th>
                    <th>Personas discap.</th>
                </tr>
            </thead>
            {%for key, value in tabla2.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.hombres|floatformat}}</td>
                <td>{{value.mujeres|floatformat}}</td>
                <td>{{value.jovenes|floatformat}}</td>
                <td>{{value.div_sexual|floatformat}}</td>
                <td>{{value.vih|floatformat}}</td>
                <td>{{value.etnica|floatformat}}</td>
                <td>{{value.discapacidad|floatformat}}</td>
            </tr>
            {%endfor%}
            {%for key, value in tabla3.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.hombres|floatformat}}</td>
                <td>{{value.mujeres|floatformat}}</td>
                <td>{{value.jovenes|floatformat}}</td>
                <td>{{value.div_sexual|floatformat}}</td>
                <td>{{value.vih|floatformat}}</td>
                <td>{{value.etnica|floatformat}}</td>
                <td>{{value.discapacidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}