{% extends "base.html" %}
{% block extratitle %}Discriminaci&oacute;n por discapacidad, etnia, VIH y SIDA{% endblock %}
{% block contenido %}

{% include "bar3.html" %}
<div class="result_tables">
    <div class="titulo_indicadores">
        {{resultado.nombre}}: Denuncias Jur&iacute;dicas
    </div>
    <div class="table_container">
        <table class="mostrar">
            <caption>Denuncias juridicas en contra de la discriminaci&oacute;n</caption>
            <thead>
                <tr>
                    <th>Acciones de denuncia efectivas impulsadas por las organizaciones</th>
                    <th>En contra de la discriminaci&oacute;n a diversidad sexual</th>
                    <th>En contra de la discriminaci&oacute;n a discapacitados</th>
                    <th>En contra de la discriminaci&oacute;n a personas con VIH</th>
                    <th>En contra de la discriminaci&oacute;n por Etnia</th>
                    <th>En contra de la discriminaci&oacute;n a J&oacute;venes</th>
                </tr>
            </thead>            
            {%for key, value in tabla.items reversed %}
            <tr>
                <td>{{key}}</td>                
                <td>{% if value.sexual %}{{value.sexual|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.discapacidad %}{{value.discapacidad|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if vlaue.vih %}{{value.vih|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.racial %}{{value.racial|floatformat}}{% else %}0{% endif %}</td>
                <td>{% if value.joven %}{{value.joven|floatformat}}{% else %}0{% endif %}</td>
            </tr>
            {%endfor%}
            {%for key, value in tabla2.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.sexual|floatformat}}</td>
                <td>{{value.discapacidad|floatformat}}</td>
                <td>{{value.vih|floatformat}}</td>
                <td>{{value.racial|floatformat}}</td>
                <td>{{value.joven|floatformat}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="clean"></div>
{% endblock %}