{% extends "base.html" %}
{% block extratitle %}Area de influencia{% endblock %}
{% block extrahead %}
<link type="text/css" rel="stylesheet"  href="/files/css/django-admin-widgets.css">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var map;
    var markers = new Array();
    $(document).ready(function(){
        $('#select_organizacion').click(function(){
            $('#id_organizacion option').each(function(){
                $(this).attr('selected', 'selected');
            });
            return false;
        });
        $('#select_resultados').click(function(){
            $('#id_resultado option').each(function(){
                $(this).attr('selected', 'selected');
            });
            return false;
        });
        
        var altura = $('.bar').height();
        $('.mapa').height(altura);
        $('#map_canvas').height(altura);
        var infowindow = new google.maps.InfoWindow();

        var myLatlng = new google.maps.LatLng(13,-85);
        var myOptions = {
            zoom: 7,
            mapTypeControl: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        $('#influencia_form').submit(function(){
            //var csrf = $('[name=csrfmiddlewaretoken]').val();
            if(checkear()){
                var datos = $('#influencia_form').serialize();
                $.post('/influencia/', datos,
                function(data){
                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                    $.each(data, function(i, item){
                        markers.push(new Array(item.punto[0], item.punto[1]));
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(item.punto[0], item.punto[1]),
                            map: map,
                            title:item.municipio
                        });
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.open(map, marker);
                            var text = '<div class="infowindow">'+item.municipio+'<br><ul>';
                            $.each(item.proyectos, function(i, item){
                                text += '<li><a style="color:#7F7F7F;"href="/proyecto/' + item.id +'/">' + item.nombre + '</a></li>';
                            });
                            text += '</ul></div>';
                            infowindow.setContent(text);
                        });
                    });
                }, "json");
                return false;
            }
        });
        $('#guardar').click(function(){            
            var centro = map.getCenter();
            var zoom = map.getZoom();
            var url = 'http://maps.google.com/maps/api/staticmap?center='+centro['b']+','+centro['c']+'&size=600x500&maptype=roadmap';
            for (i=0; i < markers.length; i++){
                url += '&markers=color:red|'+markers[i][0]+','+markers[i][1]+'';
            }
            url += '&sensor=false&zoom='+map.getZoom();
            window.open(url, '_blank');
        });
        
    });
    function checkear(){
        var org, resul, per;
        if($('#id_organizacion').val() == null){
            alert('Seleccione una organización');
            org = false;
        }else{
            org = true;
        }
        if($('#id_resultado').val() == null){
            alert('Seleccione un resultado');
            resul = false;
        }else{
            resul = true;
        }
        if($('#id_periodo').val() == null){
            alert('Seleccione un periodo');
            per = false;
        }else{
            per = true;
        }
        
        if(org && resul && per){
            return true;
        }else{
            return false;
        }

    }
</script>
{% endblock %}
{% block contenido %}
<div class="bar">
    <div class="title">
        Formulario
    </div>
    <form action="." method="POST" id="influencia_form">{% csrf_token %}
        <label class="aux">{{form.organizacion.label}}</label><br>
        {{form.organizacion}}
        <a href="#" class="selector-chooseall" id="select_organizacion">Selecciona todos</a>
        <br><br>
        <label class="aux">{{form.resultado.label}}</label><br>
        {{form.resultado}}
        <a href="#" class="selector-chooseall" id="select_resultados">Selecciona todos</a>
        <br><br>
        <label class="aux">{{form.periodo.label}}</label><br>
        {{form.periodo}}<br><br>
        <label class="aux">{{form.anio.label}}</label><br>
        {{form.anio}}<br><br>
        <div class="clean">
            <button type="submit">Consultar</button><button name="png" id="guardar" type="button">Guardar Mapa</button>
        </div>
    </form>
</div>
<div class="mapa">
    <div id="map_canvas">

    </div>
</div>
<div class="clean"></div>

{% endblock %}

