body{
    padding:0;
    margin: 0;
    background: url(/files/images/back.png) repeat-x;
    font-family: 'Trebuchet MS', sans-serif;
}
#wrapper{
    width: 960px;
    margin: 18px auto;
}
.vline{
    padding-left: 8px;
    padding-right: 15px;
}
.banner{
    height: 105px;
}
.banner .logo{
    float: left;
}
.banner div.title{
    font-size: 25px;
    font-weight: bold;
    color: #6d6f6a;
    float: left;
    margin-top: 30px;
}
.nav{
    float: right;
    margin-top: 55px;
}
button{
    background: url(/files/images/botones.png) repeat-x;
    border: none;
    height: 34px;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    outline: none;
}
button:hover{
    text-decoration: underline;
}
.clean{
    clear: both;    
}
.tools{
    background: url(/files/images/tools.png) repeat-x;
    height: 49px;
    margin-top: 15px;
}
.tools .text{
    font-size: 24px;
    color: #154476;
    text-transform: uppercase;
    line-height: 49px;
    text-align: center;
}
.content{
    margin-top: 20px;
}
.content .top{
    background: url(/files/images/border-top.png) no-repeat;
    height: 7px;
}
.content .contenedor{
    background: url(/files/images/border-body.png) repeat-y;
}
.content .bottom{
    background: url(/files/images/border-bottom.png) no-repeat;
    height: 7px;
}
.login{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}
.login div{
    padding: 15px 0px 15px 0px;
    text-align: center;
}
.login label{
    background: url(/files/images/label-back.png) no-repeat;
    display: block;
    width: 158px;
    margin: 0 auto;
    margin-bottom: -20px;
    font-size: 15px;
    color: #fff;
    height: 23px;
    line-height: 23px;
}
.login input{
    background: url(/files/images/input-back.png) no-repeat;
    border: none;
    width: 330px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 26px;
    color: #555753;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

.entrar{
    width: 100px;
}
.footer{
    font-size: 11px;
    color: #5a5a5a;
    background: url(/files/images/footer.png) no-repeat;
    height: 23px;
    width: 284px;
    text-align: center;
    line-height: 23px;
    display: block;
    margin: 0 auto;
}
.footer a{
    text-decoration: none;
    font-weight: bold;
    color: #5a5a5a;
}
img{
    border: none;
}
a{
    outline: none;
}

.mapa {
    width: 500px;
    height: 500px;
}
.infowindow{
    color: #069;
    font-size: 11px;
}
.infowindow ul{
    color: #4e4e4e;
    padding: 0;
    padding-left: 14px;
}

/* Estilo para las tablas */
.mostrar caption{
    font-size: 14px;
}

.mostrar th{
    font: bold 12px/24px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    vertical-align:middle;
    background: url(/files/images/bg_header.png) repeat-x;
    padding: 0px 5px 0px 5px;
}

.mostrar td {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 20px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
.mostrar td a:visited{
    color: #069;
}