<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
            #map_canvas { height: 500px; width: 600px; }
        </style>
        <title>Sistema de Informacion FED | {% block extratitle %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet"  href="/files/css/fed.css" >
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div class="banner">
                <div class="logo" id="logo">
                    <a href="/"><img src="/files/images/logo.png" alt="Fed Hivos"></a>
                    
                    <img src="/files/images/vline.png" alt="" class="vline">
                </div>
                <div class="title">
                    Sistema de Informaci&oacute;n
                </div>
                <div class="nav">
                    {% if user.is_authenticated %}
                    <button type="button" onclick="window.location.href='/'">Inicio</button>
                    <button type="button" onclick="window.location.href='/ayuda/'">Ayuda</button>
                    {% endif %}
                </div>
                <div class="clean"></div>
            </div>
            <div class="tools">
                {% block tools %}
                {% endblock %}
            </div>
            <div class="content">
                <div class="top"></div>
                <div class="contenedor">
                    {% block contenido %}
                    {% endblock %}
                </div>
                <div class="bottom"></div>
            </div>
            <div class="footer">
                Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> bajo plataforma
                <a href="http://www.djangoproject.com">Django</a>
            </div>
        </div>
    </body>
</html>

