{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}
{% block contenido %}
<div class="ultimas">
    <span class="title">ULTIMAS ACCIONES</span>
    {% for i in informes %}
    <div class="registro">
        <div class="mas">
            <img src="/files/images/mas.png" alt="mas">
        </div>
        <div class="mastext">
            <span class="entry">Agregado informe {{i.get_periodo|lower}} año {{i.anio}}</span><br>
            <span class="data">Usuario: {{i.user}}, organización: {{i.organizacion}}</span>
        </div>
        <img class="hline" src="/files/images/hline.png" alt="-">
    </div>
    {% endfor %}
</div>
<img class="vline3" src="/files/images/vline3.png" alt="-">
<div class="acerca">
    <span class="title">ACERCA DEL SISTEMA</span>
    <div class="desc">
        Rhoncus lundium sed et aenean cursus sed arcu eu etiam. Mid ultricies? Nunc ut est mauris, ultricies aenean magna vel in! Ultricies tincidunt ultrices! Pulvinar non hac ultricies nascetur sociis platea, adipiscing, integer, lectus rhoncus massa nunc aliquet integer? Auctor pulvinar mus, et et in? Natoque amet duis, elementum dapibus dolor in. Etiam, eros ac, ac non, habitasse elit aliquet? Tortor enim, lacus natoque turpis mus? Elementum mid natoque, rhoncus augue sagittis. Etiam ut odio purus natoque mattis tincidunt hac elit quis adipiscing nisi, enim, ultricies, tincidunt magna in, tristique placerat pellentesque habitasse lacus porttitor ut integer cras massa ac lacus hac! Ridiculus vut tincidunt magnis cras in tincidunt pulvinar enim ut pellentesque penatibus turpis lacus, tristique tempor lacus sed.
        <br><br>Amet magna sed tincidunt habitasse tincidunt non, lorem sociis duis non, sit lacus. Amet eu, ridiculus odio a mus, phasellus, elit nunc porta in dictumst scelerisque! A magnis est? Vel integer pellentesque! Lectus dignissim auctor. Natoque tristique natoque mid, enim massa auctor, dapibus massa. Eros, a ut dapibus! Elementum, placerat elementum adipiscing mauris lundium turpis ac scelerisque sagittis placerat? Enim cum a hac amet aliquet mattis, mus tortor? Rhoncus, tincidunt, sed
    </div>
</div>
<div class="clean"></div>
{% endblock %}
