{% extends "base.html" %}
{% block extratitle %}Area de influencia{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    function initialize() {
        //definimos el popup
        var infowindow = new google.maps.InfoWindow();

        var myLatlng = new google.maps.LatLng(13,-85);
        var myOptions = {
            zoom: 7,
            disableDefaultUI: true,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        {% for m, values in municipios.iteritems %}
        var marker{{m.pk}} = new google.maps.Marker({
            position: new google.maps.LatLng({{m.latitud|safe}},{{m.longitud|safe}}),
            map: map,
            title:"{{m.nombre}}"
        });
        google.maps.event.addListener(marker{{m.pk}}, 'click', function() {
            infowindow.open(map, marker{{m.pk}});
            infowindow.setContent('<div class="infowindow">{{m.nombre}}<br><ul>{% for p in values %}<li>{{p}}</li>{% endfor %}</ul></div>');
        });
        {% endfor %}
    }
</script>
{% endblock %}
{% block contenido %}
<div>
    <form action="." method="POST">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
</div>
{% if bandera == 1 %}
<div class="mapa">
    <div id="map_canvas">

    </div>
</div>
{% endif %}
{% endblock %}

