<script type="text/javascript">
    $(document).ready(function(){
       var alto = $('.result_tables').height();
       var alto_barra = $('.bar3').height();
       if (alto>alto_barra){
           $('.bar3').height(alto);
       }
    });
</script>
<div class="bar3">
    <div class="nav2">
        <div class="result_title">{{resultado.nombre}}</div>
        <a href="/indicadores/">Nueva Consulta</a> <img src="/files/images/mas2.png" alt=""><br>
        <a href="/indicadores/?q=1">Volver a Resultados</a><img src="/files/images/atras.png" alt="">
    </div>    
    <div class="otros_indicadores">
        {% for i in resultado.indicador_set.all %}
        <a href="/indicadores/{{i.slug}}">{{i.nombre}}</a>
        {% endfor %}
    </div>
</div>