<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
            #map_canvas { height: 500px; width: 710px; }
        </style>
        <title>Sistema de Informacion FED | {% block extratitle %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet"  href="/files/css/fed.css" >
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>        
        {% if user.is_authenticated %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#influencia').hover(function(){
                    $('#influencia img').attr('src', '/files/images/influencia_hover.png');
                });
                $('#influencia').mouseout(function(){
                    $('#influencia img').attr('src', '/files/images/influencia.png');
                });
                $('#indicadores').hover(function(){
                    $('#indicadores img').attr('src', '/files/images/indicadores_hover.png');
                });
                $('#indicadores').mouseout(function(){
                    $('#indicadores img').attr('src', '/files/images/indicadores.png');
                });
            });
        </script>
        {% endif %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div class="banner">
                <div class="logo" id="logo">
                    <a href="/"><img src="/files/images/logo.png" alt="Fed Hivos"></a>

                    <img src="/files/images/vline.png" alt="" class="vline">
                </div>
                <div class="title">
                    Sistema de Informaci&oacute;n
                </div>
                <div class="nav">
                    {% if user.is_authenticated %}
                    <button type="button" onclick="window.location.href='/'">Inicio</button>
                    <button type="button" onclick="window.location.href='/ayuda/'">Ayuda</button>
                    {% endif %}
                </div>
                <div class="clean"></div>
            </div>
            <div class="tools">
                {% if user.is_authenticated %}
                <div class="salidas">
                    <a href="/influencia/" id="influencia"><img src="/files/images/influencia.png" alt="Area de influencia"></a>
                    <a href="/indicadores/" id="indicadores"><img src="/files/images/indicadores.png" alt="Avance de indicadores"></a>
                </div>
                <div class="loginfo">
                    <img src="/files/images/avatar.png" alt="" class="avatar">
                    <div class="username">  {{user.username}}</div>
                    <img src="/files/images/vline2.png" alt="-" class="avatar">
                    <div class="username">
                        <a href="/admin/"<img src="/files/images/admin.png" alt="Admin">Administraci&oacute;n</a><br>
                        <a href="/logout/"<img src="/files/images/salir.png" alt="Cerrar Sesion">Salir</a>
                    </div>
                </div>
                {% else %}
                <div class="text">Entrar al sistema</div>
                {% endif %}
            </div>
            <div class="content">
                <!--<div class="top"></div>-->
                <div class="contenedor">
                    {% block contenido %}
                    {% endblock %}
                </div>
                <!--<div class="bottom"></div>-->
            </div>
            <div class="footer">
                Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> bajo plataforma
                <a href="http://www.djangoproject.com">Django</a>
            </div>
        </div>
    </body>
</html>

