{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}
{% block contenido %}
<div class="ultimas">
    <span class="title">ULTIMAS ACCIONES</span>
    {% for i in informes %}
    <div class="registro">
        <div class="mas">
            <img src="/files/images/mas.png" alt="mas">
        </div>
        <div class="mastext">
            <span class="entry">Agregado informe {{i.get_periodo|lower}} año {{i.anio}}</span><br>
            <span class="data">Usuario: {{i.user}}, organización: {{i.organizacion}}</span>
        </div>
        <img class="hline" src="/files/images/hline.png" alt="-">
    </div>
    {% endfor %}
    <br>
</div>
<img class="vline3" src="/files/images/vline3.png" alt="-">
<div class="acerca">
    <span class="title">ACERCA DEL SISTEMA</span>
    <div class="desc">
        El Fondo para la Equidad de Género y los Derechos Sexuales y Reproducivos es un mecanismo  común  de  apoyo  de  la  cooperación  internacional  a  las  organizaciones  de la sociedad civil nicaragüense que promueven la equidad e igualdad de género y el pleno reconocimiento y ejercicio de los derechos sexuales y derechos reproductivos de la ciudadanía nicaragüense.
        <br><br>Ha contribuido no sólo a la disminución de los costos de la ayuda, sino que ha permitido, por su apertura hacia las organizaciones de la sociedad civil, potenciar capacidades y fortalezas existentes, así como estimular la creación y desarrollo de iniciativas novedosas. Los donantes del FED son los siguientes:Noruega, Suecia, Finlandia, Países Bajos, Austria, Luxemburgo, Dinamarca, GTZ/Alemania y UNFPA.
    </div>
</div>
<div class="clean"></div>
{% endblock %}
