body{
    padding:0;
    margin: 0;
    background: url(/files/images/back.png) repeat-x;
    font-family: 'Trebuchet MS', sans-serif;
}
#wrapper{
    width: 960px;
    margin: 18px auto;
}
.vline{
    padding-left: 8px;
    padding-right: 15px;
}
.banner{
    height: 105px;
}
.banner .logo{
    float: left;
}
.banner div.title{
    font-size: 25px;
    font-weight: bold;
    color: #6d6f6a;
    float: left;
    margin-top: 30px;
}
.nav{
    float: right;
    margin-top: 55px;
}
button{
    background: url(/files/images/botones.png) repeat-x;
    border: none;
    height: 34px;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-left: 8px;
    outline: none;
}
button:hover{
    text-decoration: underline;
}
.clean{
    clear: both;    
}
.tools{
    background: url(/files/images/tools.png) repeat-x;
    height: 49px;
    margin-top: 15px;
}
.tools .text{
    font-size: 24px;
    color: #154476;
    text-transform: uppercase;
    line-height: 49px;
    text-align: center;
}
.tools .salidas{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

.tools .loginfo{
    color: #5d5d5d;
    font-size: 13px;
    float: right;
    margin-right: 10px;
}

.tools .loginfo .avatar{
    float: left;
    padding: 4px 6px 2px 2px;
}
.tools .loginfo .username{
    float: left;
    margin-top: 8px;
    display: inline;
    margin-right: 5px;
}
.username a{
    color: #3a9696;
    font-size: 13px;
}
.username a img{
    float: left;
    padding-right: 4px;
    padding-top: 2px;
    padding-left: 5px;
}

.content{
    margin-top: 20px;
}
.content .top{
    background: url(/files/images/border-top.png) no-repeat;
    height: 7px;
}
.content .contenedor{
    /*background: url(/files/images/border-body.png) repeat-y;*/
    border: 1px #e1e1e1 solid;
}
.content .bottom{
    background: url(/files/images/border-bottom.png) no-repeat;
    height: 7px;
}
.login{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}
.login div{
    padding: 15px 0px 15px 0px;
    text-align: center;
}
.login label{
    background: url(/files/images/label-back.png) no-repeat;
    display: block;
    width: 158px;
    margin: 0 auto;
    margin-bottom: -20px;
    font-size: 15px;
    color: #fff;
    height: 23px;
    line-height: 23px;
}
.login input{
    background: url(/files/images/input-back.png) no-repeat;
    border: none;
    width: 330px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 26px;
    color: #555753;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

.entrar{
    width: 100px;
}
.footer{
    font-size: 11px;
    color: #5a5a5a;
    background: url(/files/images/footer.png) no-repeat;
    height: 23px;
    width: 284px;
    text-align: center;
    line-height: 23px;
    display: block;
    margin: 0 auto;
}
.footer a{
    text-decoration: none;
    font-weight: bold;
    color: #5a5a5a;
}
img{
    border: none;
}
a{
    outline: none;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.mapa {
    width: 500px;
    height: 500px;
}
.infowindow{
    color: #069;
    font-size: 11px;
}
.infowindow ul{
    color: #4e4e4e;
    padding: 0;
    padding-left: 14px;
}

.ultimas{
    float: left;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
 }
.ultimas .title{
    font-size: 22px;
    color: #646464;
}
.vline3{
    float: left;
    margin-top: 30px;
}
.acerca{
    float: left;
    width: 470px;
    margin-left: 20px;
    margin-top: 30px;
}
.acerca .title{
    font-size: 40px;
    color: #154476;
}
.acerca .desc{
    font-size: 12px;
    color: #000;
    margin-top: 15px;
    padding-bottom: 20px;
    
}
.registro{
    margin-top: 15px;
}
.registro .hline{
    margin-top: 10px;
}
.mas{
    height: 20px;
    margin-top: 4px;
    float: left;
    margin-bottom: -8px;
    padding-right: 10px;
}
.mastext{
    float: left;    
}
.mastext .entry{
    color: #000;
    font-size: 13px;
}
.mastext .data{
    color: #888a85;
    font-size: 13px;
}

/* Estilo para las tablas */
.mostrar{
    width: 100%;
}
.mostrar caption{
    font-size: 14px;
    background-color: #e1e1e1;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    color: #069;
    height: 20px;
    line-height: 20px;
}

.mostrar th{
    font: bold 12px/25px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    background: url(/files/images/table_container_back_th.png) repeat-x top;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    vertical-align:middle;    
    padding: 0px 5px 0px 5px;
}

.mostrar td {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 20px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
.mostrar td a:visited{
    color: #069;
}
.bar{
    float: left;
    width: 249px;
    background: #555753 url(/files/images/bar_back.png) repeat-x;
    text-align: center;
}
.bar .title{
    font-size: 21px;
    color: #d5d5d5;
    text-shadow: 0 2px 3px #483916;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bar label.aux{
    display: block;
    width: 158px;
    background-color: #4e504c;
    height: 25px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: -20px;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
}
.bar ul{
    list-style: none;
    padding-left: 0px;
}
.bar select{
    text-align: center;
    background-color: #fff;
    border: 1px #939393 solid;
    margin: 0 auto;
    width: 200px;
    font-size: 13px;
    font-family: 'Trebuchet MS', sans-serif;
}
.mapa{
    float: left;
    width: 709px;
}
.estilo2{
    width: 420px;
    padding-left: 10px;
}
.resultados{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.tiene{    
    font-size: 18px;    
    width: 480px;
    height: 46px;
    margin-bottom: 5px;
}
.tiene a{
    display: block;
    background: url(/files/images/tiene.png) no-repeat;
    width: 455px;
    height: 46px;
    line-height: 46px;
    padding-left: 25px;
    color: #555753;
    text-decoration: none;
}
.indicador{
    font-size: 18px;
    width: 480px;
    height: 46px;
    margin-bottom: 5px;
}
.indicador a{
    display: block;
    background: url(/files/images/indicador.png) no-repeat;
    color: #36474f;
    width: 455px;
    height: 46px;
    line-height: 46px;
    padding-left: 25px;
    text-decoration: none;
}
.tiene a:hover{
    background-position: 0 -46px;
    color: #464236;
}
.indicador a:hover{
    color: #36474f;
    background-position: 0 -46px;
}

.notiene{
    font-size: 18px;
    width: 480px;
    height: 46px;
    background: url(/files/images/notiene.png) no-repeat;
    color: #aaa;
    line-height: 46px;
    padding-left: 25px;
    margin-bottom: 5px;
}
.indicators{
    display: none;
}
.bar3{
    width: 226px;
    background: #555753 url(/files/images/bar3_back.png) repeat-x;    
    float: left;
}
.result_tables{
    float: left;
    width: 732px;
}
.nav2{
    font-size: 17px;    
    text-shadow: 0 2px 1px #483916;
    line-height: 40px;
    margin-top: 0px;
    text-align: right;
    color: #d5d5d5;
}
.nav2 a{
    color: #d5d5d5;
}
.nav2 img{
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}
.otros_indicadores{
    margin-top: 5px;
}
.otros_indicadores a{
    display: block;
    background: url(/files/images/indicador_back.png) repeat-x;
    height: 34px;
    width: 211px;
    line-height: 34px;
    padding-left: 15px;
    font-size: 13px;
    color: #dfc268;
    margin-top: 2px;
}
.titulo_indicadores{
    font-size: 23px;
    color: #888a85;
    height: 40px;
    margin-left: 15px;
    line-height: 40px;
}
.table_container{
    
}
.result_title{
    font-size: 13px;
    margin-right: 5px;
}
option{
    font-size: 12px;
}
.graph_title{
    font-size: 14px;
    background-color: #e1e1e1;    
    text-align: left;
    padding-left: 15px;
    color: #069;
    height: 20px;
    line-height: 20px;
}
.title_project {
    background: #fff url(/files/images/proyecto_back.png) repeat-x;
    width: 380px;
    height: 80px;
    border: 1px #eaeaea solid;
    font-size: 12px;
    padding: 8px 5px 5px 12px;
    margin-bottom: 15px;
}
.org{
    width: 460px;
}
.proyecto_nombre{
    font-size: 21px;
    font-weight: bold;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.naranja{
    color: #e84a01;    
}
.bold{
    font-weight: bold;
}
.blue{
    color: #4381b4;
}
.proyecto_info{
    font-size: 12px;
    color: #2b2b2b;
}
.pointed_line{
    margin: 7px 0px 7px 7px;
}
.duracion{
    float: left;    
}
.monto{
    float: left;
    margin-left: 10px;
}
.monto2{
    float: left;
}
.direccion{
    float: left;
    width: 210px;
    margin-right: 10px;
}
#id_organizacion{
    height: 100px;
    overflow: auto;
}